# composer
vendor/*

# npm
node_modules/*

# phpunit
coverage.clover
coverage.xml

# phpdocumentor
/docs/*

# jetbrains
.idea/
.idea_modules/
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml

# vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# sublime text
*.sublime-project
*.sublime-workspace

# system files
.DS_Store
._*
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
*.bak
*.swp
*.orig
Thumbs.db

# vcs
.svn
.cvs
